@charset "utf-8";

/*
|--------------------------------------------------------------------------
| Table of Contents
|--------------------------------------------------------------------------
|
| 1. Base
| 2. Menu
| 3. Content
| 4. Badges
| 5. Responsive
|
*/

/* 1. Base */

:root {
	--background-color: hsla(210, 24.1%, 11.4%, 1);
	--code-color: hsla(185, 100%, 98%, 0.07);
	--code-font: 'Source Code Pro', monospace;
	--font-color: hsla(180, 46%, 89%, 1);
	--font: 'Roboto', sans-serif;
	--highlight-color: hsla(0, 0%, 0%, 0.2);
	--logo-filters: sepia(100%) saturate(300%) brightness(70%) hue-rotate(120deg) contrast(300%);
	--nav-hover-color: hsla(210, 15.4%, 15.3%, 1);
	--table-header-color: hsla(189, 30%, 36%, 1);
	--title-color: hsla(180, 47%, 56%, 1);
}

* {
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

html,
body {
	background-color: var(--background-color);
	color: var(--font-color);
	font-family: var(--font);
	height: 100%;
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: relative;
	scroll-behavior: smooth;
}

a {
	color: hsla(196, 100%, 45%, 1);
	text-decoration: none;
}

a:hover {
	color: hsla(196, 100%, 65%, 1);
	font-style: bold;
}

code,
pre {
	background-color: var(--code-color);
	border-radius: 3px;
	display: inline-block;
	font-family: var(--code-font);
	padding: 8px;
	width: 100%;
}

.highlight {
	background-color: var(--highlight-color);
	border-radius: 4px;
	font-family: var(--code-font);
	padding: 3px;
}

/* 2. Menu */

.menu {
	background-color: var(--background-color);
	bottom: 0;
	box-sizing: border-box;
	font-size: 18px;
	left: 0;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	width: 300px;
	z-index: 3;
}

.title {
	box-sizing: border-box;
	display: block;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-top: 1.5em;
	position: relative;
	width: 100%;
}

.title span {
	color: var(--title-color);
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.75em;
	margin-left: 10px;
	vertical-align: middle;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navbar ul li {
	cursor: pointer;
	line-height: 42px;
	margin: 0;
	padding: 0;
}

.navbar ul li:hover {
	background-color: var(--nav-hover-color);
	border-radius: 0px 10px 10px 0px;
}

.navbar ul li:hover a {
	color: var(--title-color);
}

.navbar ul li a {
	color: hsla(180, 1%, 47%, 1);
	display: block;
	line-height: 1.2;
	padding: 8px 0 8px 40px;
}

/* 3. Content */

.content-page {
	background-color: var(--background-color);
	box-sizing: border-box;
	margin-left: 300px;
	min-height: 100%;
	padding-bottom: 1px;
	position: relative;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content table,
.content dl {
	box-sizing: border-box;
	display: block;
	max-width: 100%;
	padding: 0 28px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	color: var(--title-color);
}

.content h3 {
	font-size: 14px;
	margin-bottom: 1em;
	margin-top: 0;
}

.content p {
	font-size: 14px;
}

.content table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 0.8em;
}

.content thead {
	color: var(--table-header-color);
}

.content table tr:last-child {
	border-bottom: 1px solid hsla(0, 0%, 80%, 1);
}

.content table th {
	border-bottom: 1px solid hsla(0, 0%, 80%, 1);
	font-size: 0.925em;
	line-height: 1.6;
	padding: 5px 18px 5px 0;
	text-align: left;
	vertical-align: bottom;
}

.content table td {
	font-weight: 300;
	line-height: 1.6;
	padding: 5px 18px 5px 0;
	text-align: left;
	vertical-align: top;
}

.subtable {
	margin-top: 0 !important;
	padding: 0 !important;
}

/* 4. Badges */

.get {
	background-color: hsla(204, 98%, 62%, 0.3);
	border: 1px solid hsla(204, 82%, 46%, 1);
	font-family: var(--code-font);
	margin: 10px;
	padding: 10px;
}

.get::before {
	background-color: hsla(204, 82%, 46%, 1);
	border-radius: 3px;
	color: var(--font-color);
	content: 'GET';
	font-family: var(--code-font);
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	padding: 6px 15px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.post {
	background-color: hsla(115, 98%, 62%, 0.3);
	border: 1px solid hsla(128, 82%, 46%, 1);
	font-family: var(--code-font);
	margin: 10px;
	padding: 10px;
}

.post::before {
	background-color: hsla(128, 82%, 46%, 1);
	border-radius: 3px;
	color: var(--font-color);
	content: 'POST';
	font-family: var(--code-font);
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	padding: 6px 15px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.patch {
	background-color: hsla(27, 98%, 62%, 0.3);
	border: 1px solid hsla(36, 82%, 46%, 1);
	font-family: var(--code-font);
	margin: 10px;
	padding: 10px;
}

.patch::before {
	background-color: hsla(36, 82%, 46%, 1);
	border-radius: 3px;
	color: var(--font-color);
	content: 'PATCH';
	font-family: var(--code-font);
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	padding: 6px 15px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.put {
	background-color: hsla(27, 98%, 62%, 0.3);
	border: 1px solid hsla(36, 82%, 46%, 1);
	font-family: var(--code-font);
	margin: 10px;
	padding: 10px;
}

.put::before {
	background-color: hsla(56, 82%, 46%, 1);
	border-radius: 3px;
	color: var(--font-color);
	content: 'PUT';
	font-family: var(--code-font);
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	padding: 6px 15px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.delete {
	background-color: hsla(0, 98%, 62%, 0.3);
	border: 1px solid hsla(2, 82%, 46%, 1);
	font-family: var(--code-font);
	margin: 10px;
	padding: 10px;
}

.delete::before {
	background-color: hsla(2, 82%, 46%, 1);
	border-radius: 3px;
	color: var(--font-color);
	content: 'DELETE';
	font-family: var(--code-font);
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	padding: 6px 15px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.websocket {
	background-color: hsla(24, 100%, 50%, 0.3);
	border: 1px solid hsla(24, 100%, 50%, 1);
	font-family: var(--code-font);
	margin: 10px;
	padding: 10px;
}

.websocket::before {
	background-color: hsla(24, 100%, 50%, 1);
	border-radius: 3px;
	color: var(--font-color);
	content: 'WEBSOCKET';
	font-family: var(--code-font);
	font-size: 14px;
	font-weight: 700;
	margin-right: 10px;
	padding: 6px 15px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.json::after {
	background-color: hsla(27, 95%, 50%, 0.6);
	border-radius: 3px;
	border: 1px solid hsla(24, 82%, 46%, 1);
	color: var(--font-color);
	content: 'json';
	font-family: var(--code-font);
	font-size: 12px;
	font-weight: 700;
	margin-left: 10px;
	padding: 5px 5px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.public::after {
	background-color: hsla(60, 2%, 82%, 0.6);
	border-radius: 3px;
	border: 1px solid hsla(0, 0%, 100%, 1);
	color: var(--font-color);
	content: 'public';
	font-family: var(--code-font);
	font-size: 12px;
	font-weight: 700;
	margin-left: 10px;
	padding: 5px 5px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.protected::after {
	background-color: hsla(130, 95%, 50%, 0.6);
	border-radius: 3px;
	border: 1px solid hsla(120, 82%, 46%, 1);
	color: var(--font-color);
	content: '🔒 protected';
	font-family: var(--code-font);
	font-size: 12px;
	font-weight: 700;
	margin-left: 10px;
	padding: 5px 5px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.key::after {
	background-color: hsla(130, 95%, 50%, 0.6);
	border-radius: 3px;
	border: 1px solid hsla(120, 82%, 46%, 1);
	color: var(--font-color);
	content: '🔑';
	font-family: var(--code-font);
	font-size: 12px;
	font-weight: 700;
	margin-left: 10px;
	padding: 3px 3px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.required::after {
	background-color: hsla(0, 95%, 50%, 0.6);
	border-radius: 3px;
	border: 1px solid hsla(0, 82%, 46%, 1);
	color: var(--font-color);
	content: '❗ required';
	font-family: var(--code-font);
	font-size: 10px;
	font-weight: 700;
	margin-left: 10px;
	padding: 3px 3px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

.role::before {
	content: '👨‍👦‍👦';
	padding-right: 5px;
}

.role {
	background-color: hsla(0, 0%, 100%, 0);
	border-radius: 3px;
	border: 1px solid hsla(0, 0%, 100%, 1);
	color: var(--font-color);
	font-family: var(--code-font);
	font-size: 12px;
	font-weight: 700;
	margin-left: 10px;
	padding: 5px 5px;
	text-align: center;
	text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.1);
}

/* 5. Responsive */

@media only screen and (max-width: 680px) {
	.menu {
		position: relative;
		width: auto;
	}

	.menu .navbar {
		display: none;
	}

	.content-page {
		margin-left: 0;
	}
}
